@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="container">
    <div class="row align-items-start justify-content-md-center">
        <div class="col" style="margin-top:10vw;">
            <h6 style="font-weight: 100;">SOLUÇÕES PARA</h6>
            <h1><strong>CANDIDATOS</strong></h1>

            <p>
                Amplie suas possibilidades! Cadastre seu currículo e aproveite os recursos exclusivos que disponibilizamos para você
                gratuitamente
            </p>

            <a asp-action="Cadastro" asp-controller="Candidato" class="btn btn-xs btn-primary">Cadastre-se</a>
        </div>
        <div class="col">
            <img class="img-fluid" src="~/images/destaque.png" />
        </div>
    </div>
</div>

<div class="container-fluid vagas bg-primary">
    <div class="row align-items-center text-center">
        <h3>Confira nossas vagas disponíveis</h3>
    </div>
    <div class="row align-items-center vagas-centralizar bg-primary">
        <div class="col-sm">
            <h6>Vendedor Externo</h6>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col">São José do Rio Preto</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-money-bill-alt"></i></div>
                <div class="col">R$ 2.000,00</div>
            </div>
        </div>
        <div class="col-sm">
            <h6>Vendedor Externo</h6>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col">São José do Rio Preto</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-money-bill-alt"></i></div>
                <div class="col">R$ 2.000,00</div>
            </div>
        </div>
        <div class="col-sm">
            <h6>Vendedor Externo</h6>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col">São José do Rio Preto</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-money-bill-alt"></i></div>
                <div class="col">R$ 2.000,00</div>
            </div>
        </div>
        <div class="col-sm">
            <h6>Vendedor Externo</h6>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col">São José do Rio Preto</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-money-bill-alt"></i></div>
                <div class="col">R$ 2.000,00</div>
            </div>
        </div>
    </div>
    <div class="row align-items-center vagas-centralizar bg-primary">
        <div class="col-sm">
            <h6>Vendedor Externo</h6>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col">São José do Rio Preto</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-money-bill-alt"></i></div>
                <div class="col">R$ 2.000,00</div>
            </div>
        </div>
        <div class="col-sm">
            <h6>Vendedor Externo</h6>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col">São José do Rio Preto</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-money-bill-alt"></i></div>
                <div class="col">R$ 2.000,00</div>
            </div>
        </div>
        <div class="col-sm">
            <h6>Vendedor Externo</h6>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col">São José do Rio Preto</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-money-bill-alt"></i></div>
                <div class="col">R$ 2.000,00</div>
            </div>
        </div>
        <div class="col-sm">
            <h6>Vendedor Externo</h6>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col">São José do Rio Preto</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><i class="fas fa-money-bill-alt"></i></div>
                <div class="col">R$ 2.000,00</div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row align-items-center final text-center">
        <div class="col">
            <h3>Faça parte você também!</h3>

            <a asp-action="Cadastro" asp-controller="Candidato" class="btn btn-lg btn-primary">Cadastre-se</a>
        </div>
    </div>

</div>