/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body {
    font-family: 'Roboto', sans-serif !important;
}

.btn {
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 2.2em;
    padding-right: 2.2em;
}

.shadow-effect {
    /*box-shadow: 0.125rem 0.25rem rgba(0,0,0,0.075) !important;*/
    box-shadow: 0px 10px 21px 0px rgba(219,219,219,1) !important;
}

.bg-white {
    background-color: #fff;
}

d-inline-block {
    display: inline-block !important;
}

align-top {
    vertical-align: top !important;
}

logo {
    width: 50%;
}

.aux-margin-top {
    margin-top: 20px;
}

.vagas {
    margin-top: 20px !important;
    color: #fff;
    padding-bottom: 80px;
}

.vagas h3 {
    padding-top: 30px !important;
    padding-bottom: 10px;
}

.vagas p i {
    margin-right: 10px;
}

.vagas .vagas-centralizar {
    margin-left: 3vw;
    margin-top: 50px;
}

.final {
    padding-top: 40px;
    padding-bottom: 40px;
}

.final a {
    margin-top: 20px;
}