
@using (Html.BeginForm("CadastroPost", "Candidato", FormMethod.Post, new { id = "CadastroFrm" })) {

<div class="container aux-margin-top">


    <div id="cadastro-alert" class="alert" role="alert"></div>

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="Nome" placeholder="Digite seu nome completo" maxlength="64" required>
    </div>

    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="telefone" name="Telefone" placeholder="Digite seu telefone" maxlength="12" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="Email" placeholder="Digite seu e-mail" maxlength="64" required>
    </div>

    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="Senha" placeholder="Digite sua senha" maxlength="20" required>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-xs btn-primary">Cadastre-se</button>
    </div>

</div>

}